<!-- howdy/templates/about.html -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>Welcome to the about page</h1>
    <p>
    Hello, my name is Tasheme Thomas. In 2015, I graduated from UNC-Chapel Hill with my Bachelors of Science in Mathematics and I'm currently working as a test-prep tutor (SAT and its subject tests, ACT, ISEE, SSAT, as well as general academic subjects) and looking to break into the tech industry. I'm most familiar with Java and Python, but I have experience with C, C++, noSQL, Javascript, and html. This website is hopefully going to serve as both a hub for my professional work as well as practice with the Django framework.
    </p>
    <a href="/">Go back home</a>
    </body>
</html>
