<!-- howdy/templates/index.html -->

<!DOCTYPE html>
{% extends 'base.html' %}

<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
      {% block pagecontent %}
        <h1 class="massive_header">Tasheme Thomas</h1>
        <p> Hi! I'm <em>Tasheme Thomas</em>. I'm a recent UNC-Chapel Hill grad and aspring software engineer in the Greater NYC area. Primarily, I'm interested in programming, philosophy, and the arts. 
        </p>
        <p> Currently, I'm a test-prep tutor, but I'm actively searching for an opportunity in the tech world. 

Feel free to read my CV or projects page to see what I've been up to or send me an email.</p>
        <a href = 'google.com'>This is a test link</a> <!-- For design purposes -->

      {% endblock %}
    </body>
</html>

<!-- <p>Hello, my name is Tasheme Thomas. In 2015, I graduated from UNC-Chapel Hill with my Bachelors of Science in Mathematics and I'm currently working as a test-prep tutor (SAT and its subject tests, ACT, ISEE, SSAT, as well as general academic subjects) and looking to break into the tech industry. I'm most familiar with Java and Python, but I have experience with C, C++, noSQL, Javascript, and html. This website is hopefully going to serve as both a hub for my professional work as well as practice with the Django framework.
    </p> -->

