<!-- howdy/templates/howdy/post_list.html -->

{% extends 'base.html' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Essays{% endblock %}</title>
    </head>
    <body>
        {% block pagecontent %}
        
        {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="date">
                {{ post.posted_date }}
            </div>
        </div>
        {% endfor %}
        {% endblock pagecontent %}
    </body>
</html>

