<!-- howdy/templates/howdy/project_list.html -->

{% extends 'base.html' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Projects{% endblock %}</title>
    </head>
    <body>
        {% block pagecontent %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for project in projects %}
                        <div class="project">
                            <h1><a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a></h1>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endblock pagecontent %}
    </body>
