<!-- howdy/templates/howdy/project_list.html -->

{% extends 'base.html' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Projects{% endblock %}</title>
    </head>
    <body>
      {% block pagecontent %}
        <h1>Project List</h1>
        {% if project_list %}
    <ul>
          {% for project in project_list %}
            <li><a href="{% url %}">{{ project.title }}</a></li> <!-- Determine how to link the project details -->
          {% endfor %}
    </ul>
        {% else %}
            <p>There are no projects to display.</p>
        {% endif %}       
      {% endblock %}
    </body>
</html>
